
.my-profile{
	width:200px;
}
.Appp{
color: rgb(255, 0, 34);

}
.titelRed{
color:red;

}
.person{
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 0 4px 4px black;
    width: 200px;
    padding: 20px;
}
.repImg{
text-align: center;

}
.vid{
   text-align: right;
}